<!doctype html>
<head>
    <title>Image Morphing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/437574d4b7.js" crossorigin="anonymous"></script>
</head>

<body>

    <main>
        <section class="content" id="alerts">
            {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </section>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Image Morphing</h1>
                <p class="lead text-muted">Choose two images, select corresponding points, and create an animated GIF of the morphing!</p>
            </div>
        </section>
        <form method="POST" id="images" action="{{ url_for('home.morph') }}" enctype="multipart/form-data">
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card box-shadow">
                            <div class="card-top">
                                <div style="position: relative;">
                                    <canvas class="img-canvas" id="source-img-canvas" style="position: relative; left: 0; top: 0; z-index: 0;"></canvas>
                                    <canvas class="img-canvas" id="source-pts-canvas" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
                                </div>
                                <div class="img-canvas-placeholder justify-content-center" id="source-img-placeholder">
                                    <i class="far fa-file-image fa-7x text-muted"></i>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="input-group mt-auto">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="source-img-input" name="source-img" accept=".png,.jpg,.jpeg">
                                        <label class="custom-file-label" for="source-img-input">Choose source image</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button id="clear-source-points-button" type="button" class="btn btn-sm btn-outline-secondary">Clear points</button>
                                    </div>
                                    <small class="text-muted"><span id="source-point-count">0</span> points</small>
                                </div>
                            </div>
                        </div>
                        <div class="card box-shadow">
                            <div class="card-top">
                                <div style="position: relative;">
                                    <canvas class="img-canvas" id="target-img-canvas" style="position: relative; left: 0; top: 0; z-index: 0;"></canvas>
                                    <canvas class="img-canvas" id="target-pts-canvas" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
                                </div>
                                <div class="img-canvas-placeholder justify-content-center" id="target-img-placeholder">
                                    <i class="far fa-file-image fa-7x text-muted"></i>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="input-group mt-auto">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="target-img-input" name="target-img" accept=".png,.jpg,.jpeg">
                                        <label class="custom-file-label" for="target-img-input">Choose target image</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button id="clear-target-points-button" type="button" class="btn btn-sm btn-outline-secondary">Clear points</button>
                                    </div>
                                    <small class="text-muted"><span id="target-point-count">0</span> points</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col-md-7">
                        <div class="row justify-content-center">
                            <small class="text-muted"><i>Acceptable image formats: JPEG, PNG</i></small>
                        </div>
                        <div class="row justify-content-center">
                            <small class="text-muted"><i>Maximum image resolution: 600x600</i></small>
                        </div>
                        <div class="row justify-content-center">
                            <small class="text-muted"><i>Maximum file size: 2MB</i></small>
                        </div>
                        <div class="form-group row form-inline" style="margin-top: 20px;">
                            <label class="col-form-label justify-content-start col-sm-4" for="gif_duration">Duration:</label>
                            <input type="number" class="form-control col-sm-2" id="gif_duration" name="gif_duration" min="1" max="5" value="3">
                            <small id="gifDurationInlineHelp" class="text-muted col-sm-6">Must be between 1 and 5 seconds.</small>
                        </div>
                        <div class="form-group row form-inline">
                            <label class="col-form-label justify-content-start col-sm-4" for="gif_fps">Frames per second:</label>
                            <input type="number" class="form-control col-sm-2" id="gif_fps" name="gif_fps" min="1" max="10" value="10">
                            <small id="gifFpsInlineHelp" class="text-muted col-sm-6">Must be between 1 and 10.</small>
                        </div>
                        <div class="form-group row justify-content-center">
                            <button type="submit" class="btn btn-primary" id="submit-button" disabled>Morph!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

</body>

<footer>
    <div class="row justify-content-center">
        <small class="text-muted">Andrew Vojak (vojak1)</small>
    </div>
    <div class="row justify-content-center">
        <small class="text-muted">Created for CS 445 Spring 2020 Final Project at the University of Illinois at Urbana-Champaign</small>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    // function alertImageSize() {
    //     let alertTag = "<div class=\"flash alert alert-danger alert-dismissible fade show\" id=\"image-resolution-alert\" role=\"alert\">\n" +
    //         "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
    //         "                    <span aria-hidden=\"true\">&times;</span>\n" +
    //         "                </button>\n" +
    //         "                Maximum file size is 2MB.\n" +
    //         "            </div>";
    //     $('#alerts').append(alertTag);
    // }
    //
    // function alertImageResolution() {
    //     let alertTag = "<div class=\"flash alert alert-danger alert-dismissible fade show\" id=\"image-resolution-alert\" role=\"alert\">\n" +
    //         "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
    //         "                    <span aria-hidden=\"true\">&times;</span>\n" +
    //         "                </button>\n" +
    //         "                Maximum image resolution is 600x600.\n" +
    //         "            </div>";
    //     $('#alerts').append(alertTag);
    // }
    //
    // function alertMatchingResolution() {
    //     let alertTag = "<div class=\"flash alert alert-danger alert-dismissible fade show\" id=\"image-resolution-alert\" role=\"alert\">\n" +
    //         "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
    //         "                    <span aria-hidden=\"true\">&times;</span>\n" +
    //         "                </button>\n" +
    //         "                Images must have matching resolution.\n" +
    //         "            </div>";
    //     $('#alerts').append(alertTag);
    // }

    /**
     * Listener function called by the when a 'change' event occurs on the image loaders.
     * @param e The event
     */
    function loadImage(e) {
        // Reset alerts
        $('#alerts').empty();

        // // Verify file size < 2MB
        // let maxFileSize = 2000000; // MB
        // if (e.target.files[0].size > maxFileSize) {
        //     $('#source-img-input').val('');
        //     alertImageSize();
        //     let control = $("#source-img-input");
        //     control.replaceWith(control.clone(true));
        //     return false;
        // }

        let reader = new FileReader();
        let imgCanvas = document.getElementById(e.currentTarget.imgCanvasElementId);
        let ptsCanvas = document.getElementById(e.currentTarget.ptsCanvasElementId);

        // let invalidResolution = false;
        // let loader = e.currentTarget;

        reader.onload = function (event) {
            let img = new Image();
            img.onload = function() {
                // // Verify image resolution
                // if (img.width > 600 || img.height > 600) {
                //     alertImageResolution();
                //     invalidResolution = true;
                //     return;
                // }

                // loader.imageHeight = img.height;
                // loader.imageWidth = img.width;

                // // Verify matching resolution
                // if ($('#source-img-input').files.length > 0 && $('#target-img-input').files.length > 0) {
                //     if ((sourceImageLoader.imageWidth !== targetImageLoader.imageWidth) ||
                //          sourceImageLoader.imageHeight !== targetImageLoader.imageHeight) {
                //         alertMatchingResolution();
                //         invalidResolution = true;
                //         return;
                //     }
                // }

                imgCanvas.width = img.width;
                imgCanvas.height = img.height;
                ptsCanvas.width = img.width;
                ptsCanvas.height = img.height;
                imgCanvas.getContext('2d').drawImage(img, 0, 0);
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);

        // if (invalidResolution) {
        //     $('#source-img-input').val('');
        //     return;
        // }

        // Toggle visibility of the placeholder and canvas elements
        $("#"+e.currentTarget.imgCanvasElementId).show();
        $("#"+e.currentTarget.ptsCanvasElementId).show();
        $("#"+e.currentTarget.placeholderElementId).hide();

        // Reset the selected points when a new image is loaded
        e.currentTarget.selectedPoints = [];
        $('#'+e.currentTarget.pointCountElementId).html(0);

        // Validate the form
        validateForm();
    }

    let sourceImageLoader = document.getElementById('source-img-input');
    sourceImageLoader.addEventListener('change', loadImage, false);
    sourceImageLoader.imgCanvasElementId = "source-img-canvas";
    sourceImageLoader.ptsCanvasElementId = "source-pts-canvas";
    sourceImageLoader.placeholderElementId = "source-img-placeholder";
    sourceImageLoader.pointCountElementId = "source-point-count";
    sourceImageLoader.selectedPoints = [];
    // sourceImageLoader.imageWidth = 0;
    // sourceImageLoader.imageHeight = 0;

    let targetImageLoader = document.getElementById('target-img-input');
    targetImageLoader.addEventListener('change', loadImage, false);
    targetImageLoader.imgCanvasElementId = "target-img-canvas";
    targetImageLoader.ptsCanvasElementId = "target-pts-canvas";
    targetImageLoader.placeholderElementId = "target-img-placeholder";
    targetImageLoader.pointCountElementId = "target-point-count";
    targetImageLoader.selectedPoints = [];
    // targetImageLoader.imageWidth = 0;
    // targetImageLoader.imageHeight = 0;

    $('#source-img-input').change(function(e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    });

    $('#target-img-input').change(function(e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    });

    /**
     * Listener function call when a click event occurs on the canvas.
     * @param e The event
     * @param canvas The canvas
     * @param points The array of points which have been clicked on the canvas
     */
    function onPointClicked(e, canvas, points) {
        // Get the coordinates of the click on the canvas
        let rect = canvas.getBoundingClientRect();
        let x = e.clientX - rect.left;
        let y = e.clientY - rect.top;

        // Add the coordinates to our list of points
        points.push([x,y]);
        console.log(points);

        // Draw the coordinates on the canvas
        let pointSize = 3;
        let ctx = canvas.getContext('2d');
        ctx.fillStyle = 'red';
        ctx.font = 'bold 16px Arial';
        ctx.fillText(points.length, x+5, y); // +5 to add some space between the point and the number
        ctx.beginPath();
        ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
        ctx.fill();

        // Validate the form
        validateForm();
    }

    /**
     * Handle points selected on the point canvases.
     */
    $('#source-pts-canvas').click(function(e) {
        onPointClicked(e, document.getElementById('source-pts-canvas'), sourceImageLoader.selectedPoints);
        $('#source-point-count').html(sourceImageLoader.selectedPoints.length);
    });
    $('#target-pts-canvas').click(function(e) {
        onPointClicked(e, document.getElementById('target-pts-canvas'), targetImageLoader.selectedPoints);
        $('#target-point-count').html(targetImageLoader.selectedPoints.length);
    });

    /**
     * Handle clicks to the "Clear Points" buttons.
     */
    $('#clear-source-points-button').click(function(e) {
        let canvas = document.getElementById('source-pts-canvas');
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        sourceImageLoader.selectedPoints = [];
        $('#source-point-count').html(0);
        // Validate the form
        validateForm();
    });
    $('#clear-target-points-button').click(function(e) {
        let canvas = document.getElementById('target-pts-canvas');
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        targetImageLoader.selectedPoints = [];
        $('#target-point-count').html(0);
        // Validate the form
        validateForm();
    });

    /**
     * Form validation
     */
    function validateForm() {
        let isValid = true;
        // Verify images exist
        if (document.getElementById('source-img-input').files.length === 0) {
            console.log('Form invalid: no source image');
            isValid = false;
        }
        if (document.getElementById('target-img-input').files.length === 0) {
            console.log('Form invalid: no target image');
            isValid = false;
        }
        // Verify non-zero points
        if (sourceImageLoader.selectedPoints.length === 0) {
            console.log('Form invalid: no source points');
            isValid = false;
        }
        if (targetImageLoader.selectedPoints.length === 0) {
            console.log('Form invalid: no target points');
            isValid = false;
        }
        // Verify equal numbers of points
        if (sourceImageLoader.selectedPoints.length !== targetImageLoader.selectedPoints.length) {
            console.log('Form invalid: mismatching number of points [source: '+sourceImageLoader.selectedPoints.length+', target: '+targetImageLoader.selectedPoints.length+']');
            isValid = false;
        }
        // Verify duration
        let duration = $('#gif_duration').val();
        if (duration < 1 || duration > 5) {
            console.log('Form invalid: duration out of bounds ['+duration+']');
            isValid = false;
        }
        // Verify FPS
        let fps = $('#gif_fps').val();
        if (fps < 1 || fps > 10) {
            console.log('Form invalid: FPS out of bounds ['+fps+']');
            isValid = false;
        }

        if (isValid) {
            $("#submit-button").prop('disabled', false);
        } else {
            $("#submit-button").prop('disabled', true);
        }

        return isValid;
    }

    $("#images").submit(function(e) {
        // TODO: Add pre-checks for valid input

        $("<input />").attr('type', 'hidden')
                     .attr('name', 'source_points')
                     .attr('value', JSON.stringify(sourceImageLoader.selectedPoints))
                     .appendTo('#images');
        $("<input />").attr('type', 'hidden')
                     .attr('name', 'target_points')
                     .attr('value', JSON.stringify(targetImageLoader.selectedPoints))
                     .appendTo('#images');
        return true;
    });
</script>