<!doctype html>
<head>
    <title>Image Morphing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <h1>Image Morphing</h1>
    <ul>
        {% if g.req_id %}
        <li><span>{{ g.req_id }}</span>
            {% endif %}
    </ul>
</nav>

<form method="POST" id="images" action="{{ url_for('home.morph') }}" enctype="multipart/form-data">
    <table>
        <thead>
        <tr>
            <td>Source Image</td>
            <td>Target Image</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p><input type="file" accept="image/*" name="source_img" id="source_img"></p>
                <canvas id="source_img_canvas" style="cursor:crosshair"></canvas>
            </td>
            <td>
                <p><input type="file" accept="image/*" name="target_img" id="target_img"></p>
                <canvas id="target_img_canvas" style="cursor:crosshair"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <label for="gif_duration">GIF duration (between 1 and 5 seconds):</label>
                    <input type="number" id="gif_duration" name="gif_duration" min="1" max="5" value="3">
                </p>
                <p>
                    <label for="gif_fps">GIF FPS (between 1 and 10):</label>
                    <input type="number" id="gif_fps" name="gif_fps" min="1" max="10" value="10">
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<button type="submit" form="images">Go!</button>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    /**
     * Listener function called by the when a 'change' event occurs on the image loaders.
     * @param e The event
     */
    function loadImage(e) {
        let reader = new FileReader();
        let canvas = document.getElementById(e.currentTarget.canvasElementId);
        reader.onload = function (event) {
            let img = new Image();
            img.onload = function() {
                canvas.width = img.width;
                canvas.height = img.height;
                canvas.getContext('2d').drawImage(img, 0, 0);
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
        // Reset the selected points when a new image is loaded
        e.currentTarget.selectedPoints = [];
    }

    let sourceImageLoader = document.getElementById('source_img');
    sourceImageLoader.addEventListener('change', loadImage, false);
    sourceImageLoader.canvasElementId = "source_img_canvas";
    sourceImageLoader.selectedPoints = [];

    let targetImageLoader = document.getElementById('target_img');
    targetImageLoader.addEventListener('change', loadImage, false);
    targetImageLoader.canvasElementId = "target_img_canvas";
    targetImageLoader.selectedPoints = [];

    /**
     * Listener function call when a click event occurs on the canvas.
     * @param e The event
     * @param canvas The canvas
     * @param points The array of points which have been clicked on the canvas
     */
    function onPointClicked(e, canvas, points) {
        // Get the coordinates of the click on the canvas
        let rect = canvas.getBoundingClientRect();
        let x = e.clientX - rect.left;
        let y = e.clientY - rect.top;

        // Add the coordinates to our list of points
        points.push([x,y]);
        console.log(points);

        // Draw the coordinates on the canvas
        let pointSize = 3;
        let ctx = canvas.getContext('2d');
        ctx.fillStyle = 'red';
        ctx.font = 'bold 16px Arial';
        ctx.fillText(points.length, x+5, y); // +5 to add some space between the point and the number
        ctx.beginPath();
        ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
        ctx.fill();

        // TODO: Add some check as to whether there are equal numbers of points selected
    }

    $('#source_img_canvas').click(function(e) {
        onPointClicked(e, document.getElementById('source_img_canvas'), sourceImageLoader.selectedPoints);
    });
    $('#target_img_canvas').click(function(e) {
        onPointClicked(e, document.getElementById('target_img_canvas'), targetImageLoader.selectedPoints);
    });

    $("#images").submit(function(e) {
       $("<input />").attr('type', 'hidden')
                     .attr('name', 'source_points')
                     .attr('value', JSON.stringify(sourceImageLoader.selectedPoints))
                     .appendTo('#images');
       $("<input />").attr('type', 'hidden')
                     .attr('name', 'target_points')
                     .attr('value', JSON.stringify(targetImageLoader.selectedPoints))
                     .appendTo('#images');
       return true;
    });

    // document.getElementById('images').addEventListener('submit', function(e) {
    //     let formData = new FormData();
    //     formData.append('source_img', $('#source_img').files[0]);
    //     formData.append('target_img', $('#target_img').files[0]);
    //     formData.append('source_points', sourceImageLoader.selectedPoints);
    //     formData.append('target_points', targetImageLoader.selectedPoints);
    //
    //     let req = new XMLHttpRequest();
    //     req.open('POST', "{{ url_for('home.morph') }}", true);
    //     req.send(formData);
    //     e.preventDefault();
    // });
    // $('#images').submit(function(e) {
    //     let formData = new FormData();
    //     formData.append('source_img', $('#source_img').files[0]);
    //     formData.append('target_img', $('#target_img').files[0]);
    //     formData.append('source_points', sourceImageLoader.selectedPoints);
    //     formData.append('target_points', targetImageLoader.selectedPoints);
    //     $.ajax({
    //         url: "{{ url_for('home.morph') }}",
    //         data: formData,
    //         processData: false,
    //         contentType: false,
    //         type: 'POST',
    //         success: function() {
    //             alert('success');
    //         }
    //     });
    //     e.preventDefault();
    // });
</script>